# Skip the node_modules folder (required)
node_modules/

# Skip log files
*.Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignoring the environment configuration file
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Ignore the build directory (example)
Dist/
build/

# Bypass the temporary directory of the operating system
.DS_Store # macOS
Thumbs.db # Windows

# Bypass package manager file lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Bypass VSCode cache files
.vscode/
*.code-workspace

# Skip SQLite database directories (if applicable)
*.sqlite
*.sqlite3
__pycache__/

firebase_options.dart

# Skip temporary files when working with Git
.gitignore
